<html layout:decorate="~{common/layout.html}">

<head>
    <title>Holistic Releasing</title>

    <style>

        .answer {
            background-color: #18181b !important;
            border: none !important;
            color: white !important;
            font-size: 24px !important;
        }

        .answer:hover {
            background-color: black !important;
        }

    </style>
</head>

<body onload="initOrContinue()">

<main layout:fragment="main" class="flex-grow flex items-center justify-center">

    <div class="flex-grow flex items-center justify-center">
        <div class="max-w-2xl w-full px-4">
            <div class="flex flex-col gap-6">

                <div class="flex justify-center">
                    <button class="btn btn-lg w-3/5 answer" id="hoopoWord" onclick="next()"></button>
                </div>

                <div class="flex justify-center text-lg gap-8">
                    <div class="flex">
                        <p>카운트 : &nbsp</p>
                        <p id="hoopoCount">0</p>
                    </div>
                    <div>
                        <a href="javascript:void(0);" onclick="start()" class="hover:underline">초기화</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        function initOrContinue() {
            fetch(`/hooponopono/init`, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('hoopoWord').textContent = data.hoopoWord;
                    document.getElementById('hoopoCount').textContent = data.hoopoCount;
                })
                .catch(error => console.error('Error:', error));
        }

        function start() {
            fetch(`/hooponopono/start`, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('hoopoWord').textContent = data.hoopoWord;
                    document.getElementById('hoopoCount').textContent = data.hoopoCount;
                })
                .catch(error => console.error('Error:', error));
        }

        function next() {
            fetch('/hooponopono/next', {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    // 질문과 count를 업데이트
                    document.getElementById('hoopoWord').textContent = data.hoopoWord;
                    document.getElementById('hoopoCount').textContent = data.hoopoCount;
                })
                .catch(error => console.error('Error:', error));
        }


    </script>

</main>

</body>

</html>