<html layout:decorate="~{common/layout.html}">

<head>
    <title>MASURIN🔮 | Full Holistic Releasing</title>

    <style>

        .answer {
            background-color: #18181b !important;
            border: none !important;
            color: white !important;
        }

        .answer:hover {
            background-color: black !important;
        }

        input:focus {
            outline: none !important;
        }

        .start:hover {
            background-color: #7f8080 !important;
        }

        #fullHolisticQuestion {
            word-wrap: break-word;
            overflow-wrap: break-word;
            word-break: break-all;
        }
    </style>
</head>

<body>

<main class="flex-grow flex items-center justify-center" layout:fragment="main">

    <div class="flex-grow flex items-center justify-center" id="app">
        <div class="max-w-2xl w-full px-4">
            <div class="flex flex-col gap-6">

                <div class="input-group input-group-lg flex justify-center">
                    <input class="input input-bordered w-4/6 text-black input-lg" id="fullHolisticSubject" placeholder="주제를 입력하세요"
                           style="background-color: #cccccc;" type="text"/>
                    <button class="btn btn-lg w-1/5 start" onclick="start()" style="background-color: #b2b3b3; border: none;">
                        시작
                    </button>
                </div>

                <p class="text-center text-2xl mt-10 mb-10" id="fullHolisticQuestion"></p>

                <div class="flex justify-center gap-8">
                    <button class="btn w-2/5 answer btn-lg" onclick="next()">
                        <span>네</span>
                    </button>
                    <button class="btn w-2/5 answer btn-lg" onclick="next()">
                        <span>아니오</span>
                    </button>
                </div>

                <div class="flex justify-center text-lg">
                    <p>카운트 : &nbsp</p>
                    <p id="fullHolisticCount">0</p>
                </div>

            </div>
        </div>
    </div>

    <script>
        function start() {
            const fullHolisticSubject = document.getElementById('fullHolisticSubject').value;
            fetch(`/fullholistic/start?fullHolisticSubject=${fullHolisticSubject}`, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('fullHolisticQuestion').textContent = data.fullHolisticQuestion;
                    document.getElementById('fullHolisticCount').textContent = data.fullHolisticCount;
                })
                .catch(error => console.error('Error:', error));
        }

        function next() {
            fetch('/fullholistic/next', {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('fullHolisticQuestion').textContent = data.fullHolisticQuestion;
                    document.getElementById('fullHolisticCount').textContent = data.fullHolisticCount;
                })
                .catch(error => console.error('Error:', error));
        }

        // 페이지가 로드될 때 실행되는 함수
        window.onload = function () {
            fetch('/fullholistic/reload')
                .then(response => response.json())
                .then(data => {
                    if (data.fullHolisticSubject) {
                        document.getElementById('fullHolisticSubject').value = data.fullHolisticSubject;
                    }
                    if (data.fullHolisticQuestion) {
                        document.getElementById('fullHolisticQuestion').textContent = data.fullHolisticQuestion;
                    }
                    if (data.fullHolisticCount) {
                        document.getElementById('fullHolisticCount').textContent = data.fullHolisticCount;
                    }
                    // 필요한 다른 로직 추가
                })
                .catch(error => console.error('Error:', error));
        };
    </script>
</main>

</body>

</html>
